[Unit]
Description=LED Server for Insect Detect
After=network.target

[Service]
# Template file: /home/pi paths are automatically replaced with the
# actual home directory when installing via install.sh or update.sh
ExecStart=/home/pi/insect-detect-night/.venv/bin/python3 /home/pi/insect-detect-night/src/insectdetect/led.py
WorkingDirectory=/home/pi/insect-detect-night
Restart=always
User=root

[Install]
WantedBy=multi-user.target
